VITE_APP_NAME = DTUHub

VITE_APP_BE_URL = http://localhost:3000/api
VITE_APP_SOCKET_URL = http://localhost:3000

VITE_APP_GOOGLE_CLIENT_ID = 781531798154-06s2uah4i3um7av16mqqid6i101jij47.apps.googleusercontent.com

VITE_APP_LOGIN_ENDPOINT = /auth/login
VITE_APP_GOOGLE_LOGIN_ENDPOINT = /auth/google/login
VITE_APP_REFRESH_TOKEN_ENDPOINT = /auth/refresh-token

VITE_APP_USER_ENDPOINT = /user
VITE_APP_SEARCH_USER_ENDPOINT = /user/search

VITE_APP_POST_ENDPOINT = /post
VITE_APP_GET_FEED_ENDPOINT = /post/feed
VITE_APP_GET_POST_AUTHOR_ENDPOINT = /post/author
VITE_APP_LIKE_POST_ENDPOINT = /post/like

VITE_APP_GET_COMMENT_IN_POST_ENDPOINT = /comment/post

VITE_APP_CHAT_ENDPOINT = /chat

VITE_APP_MESSAGE_ENDPOINT = /message
VITE_APP_MESSAGE_MASK_READED_ENDPOINT = /message/mask-readed
