NODE_ENV=development
PORT=3000
DB_URI=

WEB_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

JWT_SECRET=
JWT_EXPIRE=30m

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=
GEMINI_MODEL=

VERIFY_EMAIL=
