NODE_ENV = development
PORT = 3000
DB_URI = mongodb+srv://hub_db:hdl2010@cluster0.8kvsaog.mongodb.net/dev-db

FE_URL = http://localhost:5173

JWT_SECRET = thisisjwtsecret
JWT_EXPIRE = 30m

GOOGLE_CLIENT_ID = 781531798154-06s2uah4i3um7av16mqqid6i101jij47.apps.googleusercontent.com
GOOGLE_SECRET = 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

CLOUDINARY_NAME = dfmwbeohx
CLOUDINARY_API_KEY = 589689947175447
CLOUDINARY_API_SECRET = f-0uv5x0dK98DaVU3osmGJbDiZo

VERIFY_EMAIL = dtu.edu.vn
