VITE_APP_NAME=Hub

VITE_APP_BE_URL=http://localhost:3000/api
VITE_APP_SOCKET_URL=http://localhost:3000

VITE_APP_GOOGLE_CLIENT_ID=

VITE_APP_LOGIN_ENDPOINT=/auth/login
VITE_APP_REGISTER_ENDPOINT=/auth/register
VITE_APP_GOOGLE_LOGIN_ENDPOINT=/auth/google/login
VITE_APP_REFRESH_TOKEN_ENDPOINT=/auth/refresh-token

VITE_APP_USER_ENDPOINT=/users
VITE_APP_SEARCH_USER_ENDPOINT=/users/search

VITE_APP_POST_ENDPOINT=/posts
VITE_APP_GET_FEED_ENDPOINT=/posts/feed
VITE_APP_GET_POST_AUTHOR_ENDPOINT=/posts/author
VITE_APP_LIKE_POST_ENDPOINT=/posts/like

VITE_APP_COMMENT_ENDPOINT=/comments
VITE_APP_GET_COMMENT_IN_POST_ENDPOINT=/comments/post

VITE_APP_CHAT_ENDPOINT=/chats

VITE_APP_MESSAGE_ENDPOINT=/messages
VITE_APP_MESSAGE_MASK_READED_ENDPOINT=/messages/mask-readed
